<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://adlsgen2tosql-scd20240126170514.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3ef3f8ef-45d7-4081-a6fd-b006ef3d95c0/resourceGroups/demo/providers/Microsoft.Web/sites/adlsgen2tosql-scd20240126170514</ResourceId>
    <UserName>$adlsgen2tosql-scd20240126170514</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://adlsgen2tosql-scd20240126170514.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>